@model ISGWebSite.Models.Yetki.Kullanici.KullaniciModelKayit
@{
    if (Model == null || Model.IslemDurum == "H")
    {
        <div ng-show="HataVar" class="alert alert-danger">
            @Html.DisplayFor(model => model.IslemAciklama)
        </div>
    }
    else
    {
        <table class="table table-bordered table-sm">
            <tr>
                <td style="width:150px">
                    <b>Kullanıcı Adı :</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.KullaniciAd)
                </td>
                <td rowspan="5" style="width:110px">
                    <img src="/Yetki/Kullanici/KullaniciResimGetir" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Adı :</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Ad)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Soyad :</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Soyad)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Tipi :</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.KullaniciTipNoUzunAd)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Durumu :</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AktifPasifTipNoUzunAd)
                </td>
            </tr>
        </table>
    }
}