@model List<ISGWebSite.Models.Yetki.Kullanici.KullaniciModel>
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Yeni Kullanici Kayıt", "KullaniciKayit", "Kullanici", new { area = "Yetki" }, new { @class = "text-white" })
        </li>
        <li>&nbsp;&nbsp;&nbsp;</li>
        <li class="navbar-text">
            Kullanıcı İşlemleri
        </li>
    </ul>
</nav>

@using (Html.BeginForm("KullaniciAra", "Kullanici", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="txtKullaniciAd">Kullanıcı Adı :</label>
                        <input type="text" class="form-control" name="txtKullaniciAd" />
                        @Html.ValidationMessage("txtKullaniciAd", "*")
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="txtAd">Ad :</label>
                        <input type="text" class="form-control" name="txtAd" />
                        @Html.ValidationMessage("txtAd", "*")
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="txtSoyad">Soyad :</label>
                        <input type="text" class="form-control" name="txtSoyad" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="email">Kullanıcı Tipi :</label>
                        <input type="text" class="form-control" name="txtSicilNo" />
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" name="Ara" value="Ara" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}

<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Kullanici Ad</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Tipi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Html.DisplayFor(modelItem => item.KullaniciAd)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Soyad)</td>
                        <td>@Html.DisplayFor(modelItem => item.KullaniciTipNoUzunAd)</td>
                        <td>
                            <img src="~/Resim/Ortak/Guncelle.png" class="anchorGuncelle" data-id="@item.KullaniciKey" />
                            <img src="~/Resim/Ortak/Detay.png" class="anchorOku" data-id="@item.KullaniciKey" />
                            <img src="~/Resim/Ortak/Sil.png" class="anchorOku" data-durum="Sil" data-id="@item.KullaniciKey" />
                        </td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>


@section scripts
{
    <script>
        var URLOku = '/Yetki/Kullanici/KullaniciOku';
        var URLGuncelle = '/Yetki/Kullanici/KullaniciOku';
                                                                // alert($('[name="Ara"]').length);
                                                                // $('[name="Ara"]').click();
    </script>
}
