@model ISGWebSite.Models.SonucModel<ISGWebSite.Models.Yetki.Kullanici.KullaniciAraModel>
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutPopUp.cshtml";
}

<div ng-controller="ngcOkuma">

    <div ng-show="HataVar" class="alert alert-danger ng-hide">
        {{HataAciklama}}
    </div>

    @{
        if (Model == null || Model.Durum == "H")
        {
            <div class="alert alert-danger">
                @Html.DisplayFor(model => model.Aciklama)
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header KusakInce">
                    <h6 class="float-left">Kullanıcı Bilgileri</h6>
                </div>
                <div class="card-body PaddingYok">

                    <table class="table table-bordered table-sm">
                        <tr>
                            <td style="width:150px">
                                <b>Kullanıcı Adı :</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Data[0].KullaniciAd)
                            </td>
                            <td rowspan="5" style="width:110px">
                                <img src="/Yetki/Kullanici/KullaniciResimGetir" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Adı :</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Data[0].Ad)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Soyad :</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Data[0].Soyad)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Tipi :</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Data[0].KullaniciTipNoUzunAd)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Durumu :</b>
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Data[0].AktifPasifTipNoUzunAd)
                            </td>
                        </tr>
                        @{
                            if (Model != null && Model.Durum == "D")
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="RCSil('@Model.Data[0].KullaniciKey');" aria-label="Sil">
                                            <span class="fa fa-trash" aria-hidden="true" style="padding-right:15px"></span>Sil
                                        </button>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }

                    </table>

                </div>
            </div>
        }
    }

</div>


@section Scripts {
    @Scripts.Render("~/JSNG/Yetki/Kullanici")
}
