@model List<ISGWebSite.Models.Yetki.Kullanici.KullaniciModel>
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="SayfaBaslik">
    <a href="#" class="anchorYeniKayit" data-durum="I" data-sayfaad="Yeni Kullanıcı Kayıt">
        <span class="fa fa-pencil-square-o" style="padding-right:5px"></span>Yeni Kullanici Kayıt
    </a>
    <div style="float:right">
        Kullanıcı İşlemleri
    </div>
</div>

@using (Html.BeginForm("KullaniciAra", "Kullanici", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="border">

        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="txtKullaniciAd">Kullanıcı Adı :</label>
                            <input type="text" class="form-control" name="txtKullaniciAd" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="txtAd">Ad :</label>
                            <input type="text" class="form-control" name="txtAd" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="txtSoyad">Soyad :</label>
                            <input type="text" class="form-control" name="txtSoyad" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="ddlKullaniciTipNo">Kullanıcı Tipi :</label>
                            <select name="ddlKullaniciTipNo" class="form-control"></select>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <input type="submit" name="Ara" value="Ara" class="btn btn-primary" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Kullanici Ad</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Tipi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Html.DisplayFor(modelItem => item.KullaniciAd)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Soyad)</td>
                        <td>@Html.DisplayFor(modelItem => item.KullaniciTipNoUzunAd)</td>
                        <td>
                            <img src="~/Resim/Ortak/Guncelle.png" class="anchorGuncelle" data-durum="U" data-id="@item.KullaniciKey" data-sayfaad="Kullanıcı Güncelle" />
                            <img src="~/Resim/Ortak/Detay.png" class="anchorOku" data-durum="O" data-id="@item.KullaniciKey" data-sayfaad="Kullanıcı Oku" />
                            <img src="~/Resim/Ortak/Sil.png" class="anchorOku" data-durum="D" data-id="@item.KullaniciKey" data-sayfaad="Kullanıcı Sil" />
                        </td>
                    </tr>
                    i++;
                }
            }
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

@section scripts
{
    <script>
        var URLOku = '/Yetki/Kullanici/KullaniciOku';
        var URLGuncelle = '/Yetki/Kullanici/KullaniciKayit';
    </script>
}
