<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - İSG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Standard
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Yetkilerim</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Şifre Değiştir</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kullanıcı İşlemleri
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            @Html.ActionLink("Kullanıcı İşlemleri", "KullaniciAra", "Kullanici", new { area = "Yetki" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Şifre Değiştir</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Argem Yazılım ve Danışmanlık Ticaret Ltd.Şti</p>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="argemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert-danger">
                    <h5 class="modal-title" id="argemModalLabel"></h5>
                    <button type="button" class="close tempArgemModalKapat" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="argemModalContent" class="modal-body">

                    <iframe class="_armp_Iframe"
                            src=""
                            frameborder="1" marginwidth="0" marginheight="0" scrolling="no"
                            style="width: 100%; height: 400px; display: block; position: relative; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; left: 0px; top: 0px;"></iframe>

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Genel")
    @RenderSection("scripts", required: false)
</body>
</html>
