<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - İSG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ng-app="ngaGenel" ng-controller="ngcGenel">

        <div class="ArkaPlanGizleGoster modal-backdrop" ng-show="ArkaPlaniAcikMi">
            <div class="progress ArkaPlanProgress" style="width:400px; height:50px">
                <div class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar" style="width: 100%;">
                    <span style="font-size:20px">
                        İşlem sürüyor...
                    </span>
                </div>
            </div>
        </div>

        <div style="padding-top:5px; padding-left:5px; padding-right:5px;">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/JS/Excel")
    @Scripts.Render("~/bundles/Scripts/pdfmake")

    @Scripts.Render("~/bundles/JS/Genel")
    @Scripts.Render("~/JSNG/Genel/App")

    @RenderSection("scripts", required: false)

</body>
</html>
